# The URL of your Supabase project
SUPABASE_URL=https://nsndpcelkddnjuuntrvd.supabase.co

# The 'anon' public key or 'service_role' key 
# (For a backend, service_role is more powerful, but anon works for basic CRUD)
SUPABASE_KEY=sb_publishable_cdbFr1b87g0dTIBCtQX8Mg_vmaHy5JG

# Flask configuration (optional for local development)
FLASK_APP=app.py
FLASK_DEBUG=1